<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-7">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-danger btn-lg btn-block" ng-click="vm.processoPage()"><i
                                class="fa fa-building fa-5x"></i><br><br>Cadastro de Processos</button>
                        </div>
                    </div>
                    <!--<br>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-warning btn-lg btn-block" ng-click="vm.cidadesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Cidades</button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

